.Main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

.Header {
  width: 100%;
  background: #fff;
  margin-bottom: 40px;
  height: 320px;
  background: url("/headings/grumpy-kitties.png");
  background-size: cover;
  background-position: center;
}

.Logo {
  top: 40px;
  position: absolute;
  left: 80px;
}

.Wrapper {
  max-width: var(--small-content-width);
  width: 100%;
  margin: 0 auto 10vh;
}

.Navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

.Back {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  left: -27px;
  font-size: 16px;
  font-weight: 500;
}

.Badges {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

@media screen and (max-width: 1600px) {
  .Back {
    left: 0;
  }
}

@media screen and (max-width: 960px) {
  .Logo {
    position: relative;
    left: 1.25rem;
    top: 0;
    padding-top: 1.25rem;
  }

  .Header {
    height: 240px;
  }
}

@media screen and (max-width: 500px) {
  .Navigation {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
}
