@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&family=Inter:wght@400;500&display=swap");

:root {
  --font: "Quicksand", sans-serif;

  --primary: #ffb525;
  --content-width: min(100vw - 2.5rem, 1400px);
  --small-content-width: min(100vw - 2.5rem, 1400px);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #000;
  background: #f4f4f4;
  font-family: var(--font);
}

button {
  font-family: var(--font);
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  margin: 0 0 15px;
}

h4 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0 0 28px;
}

h5 {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

p {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
