@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Space+Grotesk:wght@700&display=swap");

:root {
  --font: "Inter", sans-serif;
  --font-heading: "Space Grotesk", sans-serif;

  --primary: #60b2ff;
  --content-width: min(100vw - 2.5rem, 1400px);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #fff;
  background: #00081d;
  font-family: var(--font);
}

a {
  color: inherit;
  text-decoration: none;
}
