.Modal {
  top: 30%;
  left: 50%;
  border: none;
  background: transparent;
  transform: translate(-50%, -50%);
}

.Modal > div {
  padding: 24px;
  background: white;
  border-radius: 10px;
}

.Modal::backdrop {
  content: "";
  display: block;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;

  background: rgba(0, 0, 0, 0.5);
}
