.Modal {
  top: 30%;
  left: 50%;
  border: none;
  background: transparent;
  transform: translate(-50%, -50%);
  max-width: calc(100vw - 20px);
  outline: none;
}

.Modal::backdrop {
  content: "";
  display: block;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;

  background: rgba(0, 0, 0, 0.6);
}
