.ProjectCard {
  border-radius: 20px;
  border: 1px solid #d9d9d9;
  background: #fff;
}

.Inactive {
  opacity: 0.5;
}

.Image {
  border-radius: 20px;
  display: block;
  width: 100%;
}

.ProjectCardContent {
  padding: 24px;
}

.ProjectCardContent h3 {
  margin-bottom: 12px;
}

.ProjectCardContent p {
  margin: 24px 0;
}

.Contributions span {
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 8px;
}
