.Card {
  border-radius: 20px;
  border: 1px solid #dbdee2;
  background: #fff;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.05);
  display: grid;
  grid-template-columns: 1fr auto;
}

.Left {
  padding: 28px 40px;
}

.Right {
  padding: 28px 40px;
  border-radius: 20px;
  border: 1px solid #dbdee2;
  background: #f1f1f1;
  margin: -1px;
}

.Right h5 {
  margin-bottom: 16px;
}

.TitleWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
  margin-bottom: 20px;
}

.TitleWrapper h4 {
  margin: 0;
}

.Requirements {
  list-style: none;
}

.Requirements li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.Requirements li::before {
  content: "";
  display: block;
  width: 48px;
  height: 48px;
  background-image: url("/icons/requirement.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
