.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.btn {
  background: var(--primary);
  border: none;
  padding: 0;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  outline: inherit;
  border-radius: 10px;
  width: 450px;
  height: 52px;
  transition: all 250ms var(--transition);
}

.btn:hover {
  background: var(--primary-hover);
}
