name: Publish Widget to NPM

on:
  workflow_dispatch:
#   push:
#     branches:
#       - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Publish Widget to NPM
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: packages/widget
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2

      - name: Setup pnpm 7
        uses: pnpm/action-setup@v2
        with:
          version: 7

      - name: Setup Node.js 16.x
        uses: actions/setup-node@v2
        with:
          node-version: 16.x

      - name: Install Dependencies
        run: pnpm i

      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          publish: packages/widget pnpm release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
